*:focus {
  outline:none;
}

.group-show {
  background-color: #E8580F;
  color:white;
  padding:70px 0;
  position: relative;
  max-height:260px;
  transition: max-height 0.35s ease-out;
  overflow: hidden;
}

.expand-group {
  transition: max-height 0.35s ease-out;
  max-height:3000px;
}

.group-show_expand_wrapper {
  position: absolute;
  bottom:0;
  width: 100%;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8580F;;
}

.group-show_expand, .group-hide_expand {
  display: block;
  height: 30px;
  cursor: pointer;
}

.hide-arrow {
  display: none;
}

/*GROUP CONTENT*/

.group-show_left {
  display: flex;
  justify-content: center;
}

.group-show_img {
  background: url(../img/novartis.png) center no-repeat;
  background-color: white;
  background-size: 70px;
  border-radius: 100%;
  height:100px;
  width: 100px;
}

.group-show_right {
  padding-right: 40px;
}

.group-show_right h2 {
  margin:10px 0 5px;
}

.group-show_info {
  margin-bottom: 10px;
}

.group-show_description p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.group-show_admin {
  margin-top: 40px;
}

.show-admin, .post-show_user {
  display: flex;
  align-items: center;
}

.show-admin_header {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.show-admin_img, .post-show_img {
  background: url(../img/user-stock.jpg) center;
  background-size: cover;
  border-radius: 100%;
  height:50px;
  width: 50px;
  display: inline-block;
  margin-right: 30px;
}

.show-admin_text, .post-show_text {
  display: inline-block;
}

.show-admin_name, .post-show_name {
  font-weight: 500;
}

.group-show_join-btn{
  color:white;
  border-color:white;
  position: absolute;
  top:30px;
  right:30px;
}

.group-show_join-btn:hover {
  color:#E8580F;
  background-color: white;
}

.group-settings {
  display: flex;
  margin-top: 20px;
  padding-right: 5px;
  justify-content: flex-end;
}

.group-settings span {
  font-weight: 500;
}

.group-settings ul {
 list-style: none;
 padding:0;
}

.group-settings li {
  margin: 20px 0;
  font-weight: 300;
}

.group-settings a  {
  color:#A5A5A5;
  font-weight: 300;
  margin-left: 20px;
}

/*GROUP CONVERSATION*/

.group-conversation_user_post {
  padding: 40px 0 25px;
  border-bottom: solid 1px #00BBFE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-show_user {
  display: inline-block;
  float:left;
  display: flex;
}

.post-show_user_full_width {
  width: 100%;
}

.group-question {
  padding:0;
}

.group-conversation_user_post input, .group-question_right {
  display: inline-block;
  float: right;
  width: 65%;
}

.group-question {
  margin-top:40px;
}

.group-question_left {
  display: inline-block;
  float: left;
  width: 35%;
}

.post-info {
  margin: 30px 0 0 80px;
  display: inline-block;
  font-size: 0.9em;
}

.group-question_header {
  font-weight: 500;
  margin-bottom: 10px;
}

.group-question_activity {
  margin-bottom: 15px;
}

.group-question_activity img {
  height:15px;
  margin-right: 2px;
}

.group-question_activity div {
  display: inline-flex;
  font-size: 0.7em;
  color:#ABABAB;
  margin-right: 15px;
}

.group-question_imgs img {
  margin: 20px 0 30px;
  width: 150px;
  height: auto;
}

.group-question_actions div {
  display: inline-flex;
  align-items: center;
  font-size: 0.8em;
  color:#ABABAB;
  margin-right: 15px;
  cursor: pointer;
}

.group-question_actions img {
  height: 20px;
  margin-right: 4px;
}

/*COMMENTS*/
.group-comments {
  margin: 20px 0 20px;
  padding-top: 20px;
  background-color: #F5F5F5;
}

.group-comments_header {
  margin-left: 80px;
  font-weight: 500;
}

.group-comment, .group-user_comment {
  padding-right: 40px;
  display: inline-block;
}

.comment-header {
  margin:30px 0 20px;
  display: inline-block;
  width: 100%;
}

.group-comment_reactions {
  float:right;
  background-color: #D8D8D8;
  border-radius: 30px;
  padding:5px 10px;
  font-size: 1.3em;
  margin-right: 50px;
}

.group-comment_reactions img {
  height: 15px;
  cursor: pointer;
}

.group-comment_text {
  padding: 0 0 20px 0
}

span.date {
  float: right;
  margin-right: 40px;
  font-size: 0.8em;
}

.empty-row {
  height: 50px;
}

/*USER COMMENT*/
.group-expand_comments {
  display: inline-block;
  width: 100%;
  padding-right: 40px;
}

.group-user_comment {
  padding-bottom: 20px;
  width: 100%;
}

.user-comment_input {
  position: relative;
}

.user-comment_input .post-show_img {
  height:35px;
  width: 35px;
}

.comment-top_bar {
  height: 70px;
  position: absolute;
  background-color: white;
  display: none;
}

.comment-bottom_bar {
  height: 70px;
  background-color: white;
  display: none;
}

.comment-bottom_bar button {
 color: #00BBFE;
 border-color: #00BBFE;
 display: inline-block;
 float: right;padding: 3px 25px;
}

.user-comment_input {
  border: 1px solid #DDDDDD;
  background-color: white;
  border-radius: 4px;
}

.input-img_wrap {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 15px;
}

.user-comment_input textarea {
  display: flex;
  width: 100%;
  height: 60px;
  padding:20px;
  border-radius: 4px;
  padding-left: 70px;
  border: none;
  resize: none;
}

.comment-input_name {
  position: absolute;
  top: 22px;
  left: 70px;
  align-items: center;
  font-weight: 500;
  color:#00BBFE;
  display: none;
}

.comment-input_collapse {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.comment-input_collapse img {
  height:15px;
  width: auto;
  opacity: 0.4;
}

.comment-input_collapse img:hover {
  opacity: 0.8;
}

.comment-input_media {
  display: inline-block;
}
.comment-input_media img {
  height:30px;
  margin-right: 7px;
  cursor: pointer;
}

.comment_input-expanded textarea {
  padding: 0px 15px 50px 15px;
  height:235px;
}

.comment_input-expanded .comment-input_name {
  display: initial;
}

.comment_input-expanded .comment-top_bar {
  display: flex;
  align-items: center;
  position: initial;
}

.comment_input-expanded .comment-bottom_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.comment_input-expanded .post-show_img {
  position: absolute;
  top: 13px;
}

/*SHOW ALL COMMENTS*/

.group-expand_comments {
  color:#00BBFE;
  cursor: pointer;
}

.group-comments_show_all {
  display: initial;
}

.hide-comments > .group-comments_show_all {
  display: none;
}


.dashed {
  border-bottom: 1px dashed #979797;
  padding:0;
  margin-top: 10px;
}

.group-conversation:last-child .dashed {
  display: none;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .page-wrapper {
    padding:0 15px;
  }
  .group-show {
    max-height: 335px;
  }
  .expand-group {
    transition: max-height 0.35s ease-out;
    max-height: 3000px;
  }
  .group-show_right {
    padding:0;
  }
  .group-show_wrapper{
    padding:0 20px;
  }
  .group-settings {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .group-show_right h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .group-question_left, .group-question_right {
    width:100%;
  }
  .group-question_activity {
    display: inline-block;
    margin-left: 20px;
  }
  .group-question_header {
    display: inline-block;
    float: left;
  }
  .post-show_user {
    margin-bottom: 10px;
  }
  .post-info {
    margin-top: 15px;
  }
  .group-question_left br {
    display: none;
  }
  .group-comment{
    padding:0 20px;
  }
  .group-comment_reactions {
    float:left;
    margin-bottom:20px;
  }
}