.groups {
  margin-top: 60px;
}

.groups li img {
  height:20px;
  width: 20px;
  margin-right: 10px;
}
.groups-options li a {
  color:#00BBFE;
}

.discover-menu {
  margin-bottom: 70px;
}

.discover-menu ul {
  padding:0;
  list-style: none;
}

.discover-menu li {
  display: inline;
  margin-right: 40px;
  font-size: 1.1em;
}

.discover-menu li a {
  color: #A5A5A5;
}

.discover-menu li a.view-active {
  color: black;
  border-bottom: 3px solid black;
}

.sm-sort_discover_menu {
  display: none;
}
.sm-sort_discover_menu span {
  margin-right: 10px;
}

#discover-menu_sort {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  display: inline-block;
  border: solid 1px #00BBFE;
  padding: 10px 15px;
  border-radius: 4px;*/
  background-color: white;
}

.sm-sort_discover_menu option {
  padding: 10px 20px;
  top:100%;
}

.discover-show_group {
  width: 100%;
  margin-bottom: 80px;
}

.discover-show_group_img {
  display: flex;
  width: 100%;
  align-items: center;
}

.discover-show_group_img img {
  width:90px;
}

.discover-show_group_text {
  display: inline-block;
  max-width: 700px;
  margin-left: 120px;
}

.discover-show_group_text h2 {
  margin:0;
}

.show-group_info {
  margin: 0 0 10px 30px;
}

.show-group_description {
  margin-bottom: 20px;
}

.show-group_join_btn {
  border: solid 1px #00AAFF;
  color:#00AAFF;
}

.show-group_join_btn:hover {
  color:white;
  background-color: #00AAFF;
}
@media (max-width: 768px) {
  .discover-show_group_text {
    margin:20px 0 0;
  }
  .discover-menu ul {
    display: none;
  }
  .sm-sort_discover_menu {
  display: initial;
}
}