.view {
  display: flex;
  justify-content: center;
  max-width: initial;
  margin: 0;
}

.signup {
  max-width:550px;
  height:600px;
}

.signup h2 {
  text-align: center;
  margin: 0 0 60px;
}

input {
  display: inline-block;
  border: solid 1px #00BBFE;
  padding:20px 20px;
  border-radius: 4px;
}

*:focus {
  outline: none;
}

.signup-names {
  display: flex;
  margin-bottom: 25px;
}

.signup-name {
  width: 48%;
  margin-right:2%;
}

.signup-lastname {
  width:48%;
  margin-left:2%;
}
.signup-field {
  width: 100%;
  margin-bottom: 25px;
}

.signup-no_margin {
  margin: 0;
}

.signup-password_feedback {
  display: inline-block;
  margin: 10px 0 0 10px;
  color:#8ED72B;
  font-weight: 500;
}

.signup-btn  {
  float:right;
  margin-top: 25px;
  color:#00BBFE;
  border-color: #00BBFE;
  padding: 10px 40px;
}

/*TYPEAHEAD STYLING*/
.signup .select2-container {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  height: 63px;
  border: solid 1px #00BBFE;
  padding: 20px 20px !important;;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 20px;
}
span.selection {
  width: 100%!important;;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
/*  height: 100%;
  top: 0;
  bottom: 0;
  right: 10px;*/
}

.select2-container--default .select2-selection--single {
  border:none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  display: inline-block;
  border: solid 1px #00BBFE;
  padding: 20px 28px;
  border-radius: 4px;
  font-size: 1.1em;
}

.select2-container--open .countries {
  border:none;
  top: -63px;
}
/*REMOVE BORDERS FROM #AREAS*/
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--open .select2-dropdown--below {
  border:none;
}

.select2-container--default .select2-selection--multiple {
  border:none;
}

.select2-search--dropdown {
  padding:0;
  z-index: 2;
}

.select2-container--default .select2-results>.select2-results__options {
  border: 1px solid #00BBFE;
  border-top: none;
  background: none;
  border: 1px solid #00BBFE;
  border-top: none;
  margin-top: -2px;
  font-size: 1.1em;
}

.select2-container--default .select2-results>.select2-results__options li {
  padding-left: 20px;
}

/*SUCCESS*/

.success-btns {
  float:right;
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.success-btns a {
  color: black;
}

.success-btns a:hover {
  color:#00BBFE;
}

.success-btns .signup-btn {
  margin:0 0 0 25px;
}

.skip-btns {
  display: flex;
  align-items: center;
  height: 44px;
}

.skip-btns span {
  cursor: pointer;
}

.skip-sure {
  width: 50%;
  padding-top: 10px;
  visibility: hidden;
}

.skip-sure a {
  color:#00BBFE;
}

/*TYPEAHEAD*/
select#country, select#areas {
  width: 100%;
}

.tt-open {
  background-color: white;
  width: 100%;
  border: solid 1px #00BBFE;
}