body {
  border-radius:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  color:#00BBFE;
}

a:hover, a:focus, a:visited, a:active {
  text-decoration: none;
}

.container-fluid {
  padding:0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding:0;
}

button {
  border-radius: 20px;
  padding: 8px 25px;
  border: solid 1px;
  background: none;
}

input {
  display: inline-block;
  border: solid 1px #00BBFE;
  padding:20px 20px;
  border-radius: 4px;
}

.row {
  margin:0;
}

.navbar {
  height: 60px;
  border-bottom: 1px solid #DDDDDD;
  padding:0 20px;
  border-radius:0;
  align-items: center;
  margin: 0 0 40px 0;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.nav-logo img {
  height:40px;
}

.nav-profile {
  float:right;
  width: 200px;
  color:#00BBFE;
  font-size: 1.1em;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-register a {
  margin-left: 20px;
}

.nav-profile-img {
  background: url(../img/user-stock.jpg) center;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 20px;
}

.page-wrapper {
  display: flex;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  padding:0 30px;
}

/* //////////////// SIDEBAR //////////////// */

.sidebar {
  padding: 0 30px 0 0;
  font-size: 1.1em;
  min-width: 250px;
  max-width: 250px;
}

.quesitons-header {
  font-weight: 500;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin:20px 0;
  font-weight: 300;
}

.sidebar li a {
  color: #A5A5A5;
}

.sidebar a.sidebar-active {
  padding: 3px 0 3px 10px;
  border-left: #00BBFE 3px solid;
}

.questions a.sidebar-active {
  color:black;
}

.groups {
  margin-top: 60px;
}

.groups li img {
  height:20px;
  width: 20px;
  margin-right: 10px;
}
.groups-options li a {
  color:#00BBFE;
}

/* //////////////// VIEW //////////////// */

.discover-menu, .discover-content, .view {
  padding:0;
  font-size: 1.1em
}
.view {
  margin-left: 40px;
  max-width: 1000px;
}

@media (max-width: 992px) {
  .view {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
.sidebar {
    white-space: nowrap;
}
